<!-- Access data.flats with owner's name as key -->
<% flat = data.flats[owner] %>

<!-- Inject flat data in template -->
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{owner}", class: "img-circle" %>
      <p><%= flat.name %></p>
      <h1><%= flat.description.capitalize %></h1>
      <p><%= flat.city_name %></p>
    </div>
  </div>
</div>

 <div class="container-fluid">
      <div class="row">
        <div class="form-section col-xs-12 col-sm-4 col-sm-offset-4">
          <form action="#">
              <h1 class="text center">Book now</h1>
              <div class="row">
                <div class="col-xs-6">
                  <div class="form-group">
                    <label>Check in</label>
                    <input class="form-control" id="checkout" placeholder="Entry Date" type="text">
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="form-group">
                    <label>Check out</label>
                    <input class="form-control" id="checkout" placeholder="Exit Date" type="text">
                  </div>
                </div>

              </div>
            <div class="form-group">
              <label for="email">Your email</label>
              <input type="email" id="email" class="form-control" placeholder="email" type="text">
            </div>
            <div class="form-group">
              <label for="password">Your password</label>
              <input type="password" id="password" class="form-control" placeholder="••••••••" type="password">
            </div>

            <label for="favorite">Number of occupants?</label>
            <select id="favorite" name="language" class="form-control">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">+ de 4</option>
            </select>
            <button type="submit" value="Book" class="btn btn-primary">Book Now</button>
          </form>
        </div>
      </div>
    </div>
