---
title: Xela -- Middleman page
---

<div class="banner" style="background-image: url('images/dark_scep_of_the_moon_IP.png');">
  <div class="banner-content">
    <h1>SCEP WEBDESIGN</h1>
    <p>La SCEP bien plus que du poulet!</p>
    <%= link_to "Start now", "#", class: "btn-treehouse" %>
  </div>
</div>


<div class="main-container">
  <div class="card-container">
    <div class="row justify-content-between">
        <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image:
        url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Le Wagon Shanghai</h2>
          <p>Very cool city, the best</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <a class="card-link" href="#" ></a>
      </div>
    </div>


    <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image:
        url('https://kitt.lewagon.com/placeholder/cities/copenhagen');">
        <div class="card-category">TOP</div>
        <div class="card-description">
          <h2>Le Wagon Copenhagen</h2>
          <p>Vikings style</p>
        </div>
          <img class="card-user" src="https://picsum.photos/250/?random">
          <a class="card-link" href="#" ></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image:
      url('https://kitt.lewagon.com/placeholder/cities/bordeaux');">
        <div class="card-category">Best of the best!</div>
        <div class="card-description">
          <h2>Le Wagon Bordeaux</h2>
          <p>Home town style</p>
        </div>
        <img class="card-user" src="https://picsum.photos/200/?random">
        <a class="card-link" href="#" ></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image:
      url('https://kitt.lewagon.com/placeholder/cities/paris');">
        <div class="card-category">French touch</div>
        <div class="card-description">
          <h2>Le Wagon Paris</h2>
          <p>Douce France</p>
        </div>
        <img class="card-user" src="https://picsum.photos/210/?random">
        <a class="card-link" href="#" ></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image:
      url('https://kitt.lewagon.com/placeholder/cities/brussels');">
        <div class="card-category">frites!</div>
        <div class="card-description">
          <h2>Le Wagon Brussels</h2>
          <p>Biere style</p>
        </div>
        <img class="card-user" src="https://picsum.photos/220/?random">
        <a class="card-link" href="#" ></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image:
      url('https://kitt.lewagon.com/placeholder/cities/lisbon');">
        <div class="card-category">Morue!</div>
        <div class="card-description">
          <h2>Le Wagon Lisbon</h2>
          <p>Cool place</p>
        </div>
        <img class="card-user" src="https://picsum.photos/230/?random">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>


<div id="home">
  <div class="home-content">
      <%= image_tag "logo.png", class: "logo-wagon", width: "200" %>
      <p class="about">
        <%= link_to "More about this template", "about.html" %>
      </p>
  </div>
</div>



